// estilos nosotros

.main-nos {
    margin-top: 5px;
    padding: 20px;
}

.titulo-nos {
        text-align: center;
        padding: 1rem;
        font-size: 3rem; 
        color: $text-color;
}

.contenedor-descripcion {
    background-color: $background-color;
}

.descripcion-nos {
    background-color: $primary-color;
    width: 80%;
    display: grid;
    place-items: center;
    margin: 40px auto;
    border: 2px solid #588157;
    border-radius: 10px;
    padding: $padding-base;
    color: $text-color;
    line-height: 1.6;
    font-size: 1.2rem;
}
