
// Estilos Imágenes de Productos 
// Clase base para títulos o textos comunes
.text-center {
    text-align: center;
    color: $text-color;
}

// Clase base para botones comunes
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

// Aplicar extend en tu código
.main-prod {
    margin-top: 8px;
    background-color: $background-color;
    text-align: center;
    padding: 20px;

    .titulo-prod {
        @extend .text-center;
        padding: 1rem;
        font-size: 3rem;
    }

    .recomendados-prod {
        @extend .text-center; // Reutilizamos la clase .text-center
        text-align: left; // Sobrescribimos el align si es necesario
    }

    .contenedordeimagenes {
        background-color: $primary-color;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;

        div {
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 80%;
                border-radius: 10%;
                height: auto;
                margin-bottom: 8%;
                opacity: 85%;
                transition: transform 0.3 ease;

                &:hover {
                    transform: scale(1.05);
                }
            }

            h2 {
                margin-top: 10px;
                @extend .text-center; // Aplicamos la clase centralizada
            }

            .agregar-carrito {
                margin-top: 8px;
                background-color: $primary-color;
                @extend .btn; // Reutilizamos la clase base btn
                
                &:hover {
                    background-color: darken($secondary-color, 10%);
                }
            }
        }
    }
}



