// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Estilos generales
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dad7cd;

}

// Variables de Colores
$primary-color: #A3B18A; // Color principal
$secondary-color: #3A5A40; // Color secundario
$background-color: #dad7cd; // Color de fondo general
$text-color: #344E41;

// Tipografía
$font-size-base: 16px; // Tamaño para texto
$font-family-base: 'Roboto', sans-serif; // Fuente para todo el proyecto

// Espaciado
$padding-base: 20px; // Padding general
$margin-base: 20px; // Margen general

// Estilos de bordes
$border-radius: 5px; // Bordes redondeados
$box-shadow-base: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombras para elementos
