// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Estilos generales
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121ff;
    color: lightcyan;
    
}

// Variables de Colores
$primary-color: #007BFF; // Color principal
$secondary-color: #0056b3; // Color secundario
$background-color: #212121ff; // Color de fondo general
$text-color: lightcyan; // Color del texto principal

// Tipografía
$font-size-base: 16px; // Tamaño para texto
$font-family-base: 'Roboto', sans-serif; // Fuente para todo el proyecto

// Espaciado
$padding-base: 20px; // Padding general
$margin-base: 20px; // Margen general

// Estilos de bordes
$border-radius: 5px; // Bordes redondeados
$box-shadow-base: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombras para elementos
